.image {
  width: 100%;
  height: 100%;
}

.section1 {
  height: 100%;
  width: 100%;
  position: relative;
}

h1 {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute\;;
}
