.image {
  width: 100%;
  height: 100%;
}

/*opening page*/
.section1 {
  height: 100vh;
  width: 100%;

  color: rgb(16, 130, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainTitle {
  font-family: "Alata", sans-serif;
  font-weight: 100;
  font-size: 400%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(214, 214, 214);

  animation: fadeIn 1.5s;
  border: 3px solid white;
  width: 50%;
  height: 20%;
}

.mainPara {
  font-family: "Oswald", sans-serif;
  font-size: 200%;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgb(214, 214, 214);
  padding: 5%;
  text-shadow: -5px 5px 5px rgba(44, 44, 44, 0.5);
  animation: fadeIn 1.5s;
}

.scroll {
  font-family: "Oswald", sans-serif;
  font-size: 300%;
  padding-bottom: 2%;
  animation: pulse 2.5s infinite;
  color: rgb(214, 214, 214);
}
.everything {
  height: 200%;
}

/*projects*/
.section3 {
  height: 100vh;
  width: 100%;

  color: rgb(16, 130, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.projectContent {
  width: 100%;
}

h1.projectTitle {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 300%;
  font-family: "Alata", sans-serif;
  color: rgb(214, 214, 214);
}

div.card1 {
  height: 50vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(214, 214, 214, 0.7);
  border-radius: 5px 5px 5px;
  margin-left: 5%;
}

.cardImage {
  height: 30vh;
  width: auto;
  border: 1px solid black;
}

h1.cardTitle {
  margin: 1%;
  font-size: 300%;
  font-family: "Alata", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
