* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./img/8_28_orig.png");
  background-size: cover;
  background-attachment: fixed;
  border: 5px solid rgb(214, 214, 214);
}
